---
// CtaSection.astro — Banda CTA centrada sobre fondo gris claro
---

<section class="w-full bg-[#ff00c8] py-20 md:py-14 px-6 md:px-12 lg:px-[80px] desktop:px-[160px]" id="contacto">
  <div class="max-w-6xl mx-auto flex flex-col items-center text-center gap-10">

    <h2 class="text-xl md:text-3xl text-white leading-tight ">
      ¿Quieres mejorar la experiencia de usuario o el diseño de tu aplicación o de tu sitio web?
    </h2>

    <a href="mailto:zulay@example.com" class="font-body text-base text-gray-900 px-20 py-4 bg-gray-900 hover:bg-white text-white hover:text-black hover:border-gray-900 transition-colors duration-200"
    >
      Contáctame
    </a>

  </div>
</section>

